{{ 'hero-collumn.scss' | asset_url | stylesheet_tag }}

<div class="hero-column-section">
  <div>
    <h2 class="heading-label">{{ section.settings.custom_text_title }}</h2>
  </div>
  <div class="container-hero">
    {% for block in section.blocks %}
      <div class="content-column-border"></div>
      <div class="content-column">
        <div class="image-column">
          <img
            class="hero-image"
            src="{{ block.settings.image |  image_url: width: auto }}"
            width="auto"
            height="200"
          >
        </div>
        <div>
          <h3 class="hero-text">{{ block.settings.custom_text_body }}</h3>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% style %}
  .hero-column-section {
    background: {{section.settings.colorSetting}};
  }
  .heading-label {
    color: {{section.settings.colorTextSetting}};
  }
{% endstyle %}

{% schema %}
{
  "name": "Hero Column",
  "settings": [
    {
      "id": "custom_text_title",
      "type": "text",
      "label": "Text box heading",
      "default": "Title"
    },
    {
      "type": "color",
      "id": "colorTextSetting",
      "label": "Text Color"
    },
    {
      "type": "color",
      "id": "colorSetting",
      "label": "Background Color"
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 3,
      "settings": [
        {
          "id": "custom_text_body",
          "type": "text",
          "label": "Add custom text below",
          "default": "<p>Add your text here</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "hero-column",
      "category": "Custom"
    }
  ]
}
{% endschema %}
